/* styles.css */

#expense-list {
  margin-top: 20px;
}

.expense-item {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.expense-item span {
  margin-right: 10px;
}

.expense-item button {
  margin-left: 10px;
  background-color: rgb(226, 22, 22);
  border-radius: 5px;
}